/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background-color: #15304c;
  height: 70px;
  font-family: "Star Jedi", Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  width: 100%;
}

.logo {
  flex-grow: 1;
}

.logo img {
  width: 150px;
  margin-left: 20px;
  padding: 10px;
}
/* Navigace */
nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

nav li a {
  color: white;
}

nav ul li a:hover {
  color: yellow;
}

.menu-icon {
  display: none;
  margin-right: 30px;
}

/* Welcome */

.welcome {
  background: url("./img/background.jpg");
  min-height: calc(100vh - 70px);
  background-size: cover;
  background-position: center top;
  object-position: absolute;
  background-attachment: fixed;
}

/* Filmy */

.filmy-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 50px;
  padding: 100px 0;
  gap: 30px;
  width: 40%;
}
.film-photo {
  width: calc((100% / 2) - 30px);
  margin: auto;
}
.film-photo:hover {
  transform: scale(105%);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: auto;
  font-family: "Roboto", Arial, sans-serif;
}
